In [3]:
e_name="Dheeraj"
e_sal=45000
if e_sal>35000:
    print(e_name+" "+"is eligible for hike")

Dheeraj is eligible for hike

In [4]:
e_name="Dheeraj"
e_sal=25000
if e_sal>35000:
    print(e_name+" "+"is eligible for hike")
else:
   print(e_name+" "+"is not eligible for hike")

Dheeraj is not eligible for hike

In [6]:
sal=input("enter employee salary")
if int(sal)>35000:
    print("eligible for hike")
else:
    print("not eligible for hike")

enter employee salary 45000

eligible for hike

In [8]:
a=int(input("enter first number"))
b=int(input("enter second number"))
if a<b:
    print("a is min")
else:
    print("b is min")

enter first number 23
enter second number 89

a is min

In [11]:
#ternary operator in python
a=input("enter a value")
b=input("enter b value")      
min=a if a<b else b
print(min,"is min number")

enter a value 87
enter b value 76

76 is min number